@CHARSET "ISO-8859-1";

.post-edit-link{
display:none;
}

body{
	font-family:Comfortaa;
}



div.wpcf7-validation-errors {
    border: medium none;
    color: #ffffff;
    font-family: Helvetica;
}

.label{
margin-top: 5px;
margin-bottom: 5px;
}

input[type="reset"], input[type="submit"], button {
    text-transform: none !important;
}

accordion .accordion-content {
	color: #fff;
}


span.wpcf7-not-valid-tip {
    color: #f00;
    display: block;
    font-family: Helvetica;
    font-size: 1em;
}

.hoja-vida {
 color: #fff; 
  background:transparent;
  font-family:Helvetica;
}
.hoja-vida::-webkit-file-upload-button {
  visibility: hidden;
   
}
.hoja-vida::before {
content: 'Archivo';
color: black;
display: inline-block;
background: -webkit-linear-gradient(top, #fff, #fff);
border: 1px solid #000;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;
width: 102px;
text-align: center;
height: 14px;
padding-top: 11px;
background-color: #ffffff;
border: none;
}

#header hgroup{
z-index:10000;
position: absolute;
bottom: auto !important;
}

.hoja-vida:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}



#btn-carga{
	   /*background-color: #ffffff !important;
    border: medium none;
    color: #282828;
    font-family: Helvetica;
    height: 45px;
    width: 200px;*/
    
     background-color: #ffffff !important;
    border: medium none;
    color: #282828;
    display: block;
    font-family: Helvetica;
    height: 45px;
    /*position: absolute;*/
    width: 250px;
    z-index: 100;
    
    /*background-color: #ffffff !important;
border: medium none;
color: #282828;
display: inline-block;
font-family: Helvetica;
height: 45px;
position: absolute;
width: 250px;
z-index: 100;
left: 25px;*/
    
}

.hoja-vida{
	/*display: none;*/
	 display: none;
}

#headerwrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 1);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.formulario-table{
	width: 100%;
}




#site-logo {
     float: left;
    line-height: 0;
    margin: 0 0 0 20px;
    padding: 0;
    width: 244px;
}
.fixed-header #site-logo, .fixed-header #site-description, .fixed-header .social-widget {
    display: block !important;
}
.fixed-header #main-nav {
    padding: 0;
    text-align: right;
    margin-top: 10px;
}

#header {
    padding: 10px 0;
    text-align: right;
}

#footerwrap {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    display: none;
}
.back-top {
    display: none;
}
.footer-text .clearfix {
    display: none;
}

.pagewidth, .section-inner { 
  /*  width: 100%;*/
}

#main-nav {
    margin: 15px 0 0;
    padding: 0;
}

.text-disfrutamos{    
    margin-bottom: 0;
    padding-left:10%;
	}

#main-nav a {
    display: block;
    font-family: Roboto;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 10px 20px 7px;
    text-decoration: none;
    text-transform: none;
}

.highlight.loops-wrapper.grid4 .post-title, .highlight.loops-wrapper.grid3 .post-title, .highlight.loops-wrapper.grid2 .post-title {
    font-family: Comfortaa;
    font-size: 14pt !important;
    margin: 0 !important;
    text-transform: none;
     color: #000;
}

p {
	font-family: Roboto;
    color:#444444 !important;
}

.fondo-home{
	float:right!important;
	width:400px;
}

.franja-contacto{
	height:300px;
}

#main-nav a {	
	font-size: 14px;
}

.texto-agencia{
    margin-bottom: 0;
    margin-top: 80px;
    text-align: justify;
}

.texto-agencia p{
   font-family: Roboto; 
}

p {
color:#444444 !important;
}



.texto-marketing{
    float: right;
    height: 190px;
    margin-bottom: 180px;
    margin-top: 180px;
    width: 100%;
}

.texto-nuestro-trabajo{
    float: left;
    margin-bottom: 100px;
    margin-top: 100px;
}

.contenedor-slide-confianza{
    background-position: left top !important;
    height: 600px !important;
    width: 100% !important;

}

.contenedor-redes-izq {
    /*float: none;
    height: auto;
    margin: 40px auto;
    width: 160px;*/
   float: none;
    height: 40px;
    margin: 15px 15px 10px;
    width: 170px;
}

.contenedor-texto-contactos{
	margin: 0 auto; 
	width: 100%;
}

.opcion1{
	float: left;
}

div.wpcf7-mail-sent-ok {
    border: medium none;
    color: #fff;
    text-align: left;
}

.opcion2{
	float: right;
	margin-left: 0;
}

.imagen-derecho{
	float:right;
	display:block;
}

.texto-informatico-contacto{
	 margin-bottom: 10px;
    margin-top: 100px;
}


.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first {
    clear: left;
    margin-left: 0%;
}

.col4-3 {
width: 100%;
}

.themify_builder .fullcover {
    background-repeat: no-repeat;
    background-size: cover !important;
}

.col4-2, .col2-1 {
    width: 42.4%;
}

.texto-ubicacion{
	color: #ffffff;
     font-family: Helvetica;
    font-size: 11pt;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.wpcf7-form p {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin: 10px auto;
    padding: 0;
}

input[type="text"], input[type="search"], input[type="email"] { 
    font-family: helvetica;
    font-size: 20px;
    margin-top: 10px;
    max-width: 98%;
    width: 98%;
}

.texto-ubicacion a{
	text-decoration: none;
	color:#fff;
}

.texto-trabaja-nosotros{
	font-family: Helvetica; 
	font-size: 12pt; 
	color: #ffffff; 
	line-height:22px; 	
	margin-bottom: 0;
   	margin-top: 40px;
}

.contacto-titulo{
	margin-top:25px;	
}

.texto-trabaja-nosotros a{
	text-decoration: none;
	color:#fff;
}

.titulo-donde-estamos{
	color: #ffffff;
    font-family: Comfortaa;
    font-size: 20pt;
    margin-bottom: 0; 
}



.imagen-derecha-contacto{
	display:none;
}

.row-slider-slides{
	display:block;
	background: rgba(0,0,0,0.5);
}

p {
    font-size: 16px;
line-height: 18px;
margin: 0 0 0;
padding: 0;
    color: #000;
}
.titulo-textos-informativo{
    color: #000000;
	font-family: Comfortaa !important;;
    font-size: 20pt;
    margin-bottom: 20px;
    padding-top: 0;
}

.texto-informativo{
	font-family: Helvetica !important; 
	font-size: 12pt; 
	color: #000000; 
	line-height: 20px;
	margin-bottom: 0;
}

.titulo-servicios{
	 color: #000000;
    font-family: Comfortaa;
    font-size: 20pt;
    height: auto;
	margin-bottom: 20px;
    margin-top: 0;
}

.edit-button {
    clear: both;
    display: none;
}

.titulo-principal{
	color: #fff;
    font-family: Comfortaa;
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 400px;
    text-align: right;
}

.texto-principal{
	text-align: right; 
	color: #fff; 
	font-family: Helvetica; 
	font-size: 12pt; 
	line-height: 20px;
}

.contenedor-texto-contacto{
	margin-bottom: 0px;
}

.module.grid3 .post {
    margin-bottom: 0;
   }
   
   
   input[type="text"], input[type="search"], input[type="email"] {
    margin-top: 10px;
    max-width: 98%;
    width: 98%;
}

input[type="reset"], input[type="submit"], button {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 0;
    color: #282828;
    cursor: pointer;
    float: left;
    padding: 7px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.ui .tab-content, .ui.window .content, .ui.module-accordion .accordion-content {
    color: #fff;
}

input[type="text"], input[type="password"], textarea, input[type="search"], input[type="email"] {
    background: none repeat scroll 0 0 #eee;
    border: medium none;
    border-radius: 0;
    padding: 10px;
    width:100%;
margin-bottom: 10px;
    margin-top: 5px;
}




#telefono{
	border-radius: 0;
    font-family: helvetica;
    font-size: 20px;
    height: 42px;
    margin-top: 10px;
    max-width: 99%;
    padding-left: 7px;
    width: 99% !important;
}

.themify_builder .accordion-2415-9-0-0 .ui.module-accordion {
    text-align: left !important;
}

.row-slider-nav{
	display:none;
}
   
.forma-login-personalizado{
	padding:0;
}

.forma-login-personalizado ul{
	padding:0;
        margin:0;
}

.forma-login-personalizado ul li{
        margin-bottom:10px;
	width:300px !important;
}

.forma-login-personalizado ul li .box-text{
	width:294px !important;
}

.forma-login-personalizado ul li .btn-ingreso{
	width:140px !important;
}

.texto-mayor{
	height: 45px; margin-bottom: 40px; text-align: left;
        padding-left: 5%;
}

.texto1-formato{
    color: #ffffff;
float: left;
font-family: Roboto;
font-size: 73pt;
font-weight: 600;
height: 90px;
padding-top: 0;
vertical-align: top;
}

.texto5-formato{
  color: #111;
float: left;
font-family: Roboto;
font-size: 55pt;
font-weight: 600;
height: 50px;
padding-top: 0;
vertical-align: top;
}

/*.loops-wrapper.grid4 .post-image, .loops-wrapper.grid3 .post-image, .loops-wrapper.grid2 .post-image {
float: none;
margin: 0 auto;
width: 130px;
}*/

.texto6-formato{
	color: #555;
float: left;
font-family: Roboto;
font-size: 33pt;
font-style: normal;
font-weight: 300;
margin-left: 10px;
padding-top: 2px !important;
height: 50px;
text-transform: lowercase;
}

.texto7-formato{
	color: #fff;
float: left;
font-family: Roboto;
font-size: 55pt;
font-weight: 200;
height: 70px;
padding-top: 19px;
vertical-align: top;
}

.texto8-formato{
color: #333;
float: left;
font-family: Roboto;
font-size: 70pt;
font-weight: 600;
height: 70px;
padding-top: 12px;
vertical-align: top;
}



.texto2-formato{
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 71pt;
    font-style: normal;
    font-weight: 400;
    margin-left: 10px;
    padding-top: 15px !important;
    height: 80px;
}

.texto3-formato{
    float: left;
    color: #ffffff;
    font-family: Roboto;
    font-size: 55pt;
    font-weight: 100;
}

.texto4-formato{
    float: left;
    color: #ffffff;
    font-family: Roboto;
    font-size: 55pt;
    font-weight: 600;
    margin-left: 10px;
    height: 60px;
}

.contenedor-slide-confianza-mobile{
	display:none !important;
}

input { 
	-webkit-appearance: none; 
	border-radius: 0; 
	}


@media screen and (max-width: 1800px) {
.texto-marketing {
    float: right;
    height: 190px;
    margin-bottom: 170px;
    margin-top: 160px;
    width: 100%;
}

.texto-nuestro-trabajo {
    float: left;
     margin-bottom: 110px;
    margin-top: 110px;
}

.contenedor-slide-confianza {
    background-position: left top !important;
    height: 500px !important;
    width: 100% !important;
}

.contenedor-final-derechos{
   padding-top:50px;
   padding-bottom:50px;
}

}

@media screen and (max-width: 1400px) {
.texto-marketing {
    float: right;
    height: 190px;
    margin-bottom: 165px;
    margin-top: 165px;
    width: 100%;
}


.module-highlight .highlight-post .post-image img {
width: 100px !important;
}
  
.contenedor-slide-confianza {
    background-position: left top !important;
    height: 475px !important;
    width: 100% !important;
}

.contenedor-final-derechos{
	 padding-bottom: 50px;
    	padding-top: 50px;
}


.texto-nuestro-trabajo {
	margin: 7% auto 7% 10%;
}

.texto7-formato {
	font-size: 56pt;
	padding-top: 14px;
}

.texto5-formato {
	font-size: 40pt;
}

.texto8-formato {
	font-size: 55pt;
	}



.titulo-textos-informativo {
padding-top: 20px;
}

.titulo-servicios {
padding-top: 15px;
}

.titulo-textos-informativo {
padding-top: 10px;
}

}

@media screen and (max-width: 1281px) {
.themify_builder_content-2415>.module_row_0.module_row {
background-image: url(https://markplan.misiva.com.ec/wp-content/uploads/2014/10/homepagefinal1.jpg) !important; 
background-position:center;
}

.row-slider-nav {
	display: block;
}

.builder-is-touch .row-slider-slides {
display: none;
}

.row-slider-dot, .row-slider-arrow {
background: transparent !important;
}

}


@media screen and (max-width: 1240px) {
	.post-image img {
		border-radius: 5px;
		width: 120px;
	}	
	
	.texto-nuestro-trabajo {
		margin-bottom: 80px;
		margin-top: 80px;
		}
		
		.texto5-formato {
		font-size: 50pt;
		}
		
		.texto8-formato {
		font-size: 65pt;
		}

.themify_builder_content-2415>.module_row_0.module_row {
background-image: url(https://markplan.misiva.com.ec/wp-content/uploads/2014/10/homepagefinal1.jpg) !important; 
background-position:center;
}
}

@media screen and (max-width: 1025px) {
	.contenedor-slide-confianza {
	 	height: 350px !important;
	}

.col4-3 {
	width: 90%;
	margin-left: 5% !important;
}	

.texto-agencia {
margin-top: 80px;

}

.contenedor-slide-confianza {
height: 450px !important;
}

.themify_builder_content-2415>.module_row_0.module_row {
background-image: url(https://markplan.misiva.com.ec/wp-content/uploads/2014/10/homepagefinal1.jpg) !important; 
background-size: cover;
font-family: Arial,Helvetica,sans-serif;
text-align: right;
color: #fff;
background-position:center;
}

.titulo-servicios {
padding-top: 10px;
}

.titulo-textos-informativo {
padding-top: 25px;
}

.texto-informatico-contacto {
margin-top: 80px;
}

.row-slider-dot, .row-slider-arrow {
background: transparent !important;
}

}

 
@media screen and (max-width: 1100px) {
	.pagewidth,
	.sidebar-none .loops-wrapper.list-post .section-inner,
	.single .section-inner,
	.sidebar-none.query-section .page-content {
		max-width: 100%;
	}
}
@media screen and (max-width: 1100px) {
	#site-logo {
	    line-height: 0;
	    margin: 0 !important;
	}
	
	.opcion2 {
	    float: right;
	    margin-left: 30px;
	}
	
	.acorderon-atelento ul li .accordion-title a {
	    float: left;
	    font-weight: normal;
	    height: 24px;
	    text-align: left !important;
	    width: 90% !important;
	}
.row-slider-dot, .row-slider-arrow {
background: transparent !important;
}

}

@media screen and (max-width: 901px) {
.contenedor-slide-confianza {
    height: 350px !important;
}	


.texto1-formato {
    font-size: 34pt;
}

.texto2-formato {
    font-size: 55pt; 
}

#main-nav a {  
    padding: 10px 10px 7px;
}
}

@media screen and (max-width: 780px) {
	.imagen-derecho{
		float:right;
		display:none;
	}
	
	.opcion2 {
	    float: left;
	    margin-left: 30px;
	}

.mobile-button {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 15px;
    position: relative;
    white-space: nowrap;
}

#headerwrap #main-nav {
    background: none repeat scroll 0 0 #000;
    border-radius: 0;
    clear: both;
    margin-left: -110px;
    margin-top: 0;
    padding: 10px 12px;
    position: absolute !important;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.contenedor-slide-confianza {
    background-position: left top !important;
    background-size: 100% 100% !important;
    height: 300px !important;
    width: 100% !important;
}

.fondo-home {
    float: right !important;
    margin-right: 5%;
    width: 90%;
}

.texto-agencia {
    margin-left: 5%;
    width: 90%;
}

.texto-marketing {
    float: right;
    height: 190px;
    margin-bottom: 140px;
    margin-right: 5%;
    width: 90%;
}

.texto-nuestro-trabajo {
    float: left;
    margin-bottom: 150px;
    margin-left: 5%;
    margin-top: 130px;
    width: 90%;
}

.texto-informatico-contacto {
    margin-bottom:70px;
    margin-left: 5%;
    margin-top: 70px;
    width: 90%;
}

nav {
    position: fixed;
    top: 10px;
    width: 100%;
}

.mobile-button span {
    color: #fff;
    font-family: Comfortaa;
    font-size: 1.125em;
    text-transform: none;
}

#headerwrap #main-nav {
    left: 0;
    margin-left: 0 !important;
    position: absolute !important;
}

.fixed-header .mobile-button {
    float: right;
    margin-left: 30px;
}

#headerwrap #main-nav a, #headerwrap #main-nav ul a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    color: #fff !important;
    display: block !important;
    font-size: inherit !important;
    padding: 0 !important;
    text-align: right;
    text-transform: none;
    width: auto !important;
    text-transform: none !important;
}

.row-slider-slides{
   display:none;
}

.contenedor-redes-izq {
    margin-left: 5%;
    width:90%;
}

.texto-ubicacion {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 12pt;
    line-height: 22px;
    margin-left: 5%;
    width: 90%;
}

.texto-trabaja-nosotros {
    line-height: 21px;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 25px;
}

.titulo-donde-estamos{
	color: #ffffff;
    font-family: Comfortaa;
    font-size: 20pt;
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;
}

.imagen-derecha-contacto{
	display:none;
}


.big-video-wrap {
    display: none;
}

.texto-informatico-contacto {
    margin-bottom: 10px;
    margin-left: 5%;
    margin-top: 70px;
    width: 90%;
}

.texto-informatico-contacto {
    margin-bottom: 10px;
    margin-left: 5%;
    margin-top: 70px;
    width: 90%;
}

.contenedor-texto-contactos {
    margin: 0 auto;
    width: 94%;
}

.contenedor-redes-izq {
    margin: 5% auto;
	width: 40%;
}


.opcion2 {
    float: left;
    margin-left: 0;
}

.contenedor-texto-contactos { 
    margin: 0 auto;
    width: 50%;
}

.acorderon-atelento ul li .accordion-title a {
    float: left;
    font-weight: normal;
    height: 24px;
    text-align: left !important;
    width: 90% !important;
}

.contenedor-texto-contactos {
    margin: 0 auto;
	width: 70%;
}

.texto1-formato { 
    font-size: 29pt;
}

.texto2-formato { 
    font-size: 46pt;
}


.texto5-formato {
    font-size: 35pt;
    height: 50px;
}

.texto6-formato {
    color: #111; 
    font-size: 35pt;
    height: 55px;
    margin-left: 5px;
    padding-top: 0 !important;
    text-transform: lowercase;
}

.texto7-formato {
    font-size: 50pt;
    height: 50px;
    padding-top: 13px;
}

.texto8-formato {
    font-size: 54pt;
    font-weight: 600;
    height: 90px;
    padding-top: 12px; 
}

#main-nav a {  
    padding: 10px 10px 7px;
}
}

@media screen and (max-width: 730px) {
.texto1-formato { 
    font-size: 20pt;
}

.texto2-formato { 
    font-size: 32pt;
}

p {
  
    font-size: 14px;
    line-height: 16px;  
    padding: 0 10px;
    text-align: justify;
    color:#444444;
}
}


@media screen and (max-width: 440px) {
	
	.contenedor-slide-confianza-mobile{
		display:block !important;
		height: 300px !important;
	}
	.contenedor-slide-confianza-mobile >
	.row_inner{
	height: 300px;
	}
	
	.slider2{
		width: 100%;
		height: 150px;
		vertical-align: middle;
	}
	
	.contenedor-slide-confianza{
		height: 150px !important;
		display:none !important;
	}
	
	
.texto-agencia p {
	font-family: Roboto;
	margin-bottom: 15px !important;
}


.img-llave {
background-image: url(https://markplan.misiva.com.ec/wp-content/uploads/2014/11/llave.png);
background-position: center -8px;
background-repeat: no-repeat;
cursor: pointer;
float: right !important;
height: 20px;
width: 35px;
}

.themify_builder_content-2415>.module_row_0.module_row {
	background-position: 53% center;
}

.texto-nuestro-trabajo {
	margin-left: 2%;
	width: 96%;
}

.texto-mayor {
height: auto;
margin-bottom: 40px;
text-align: left;
padding-left: 5%;
}

.texto1-formato {
	font-size: 20pt;
height: auto;
}

.texto2-formato {
	font-size: 26pt;
height: auto;
margin-top: 0 !important;
padding: 0 !important;
float: left;

}

.texto3-formato {
float: left;
color: #ffffff;
font-family: Roboto;
font-size: 28pt;
font-weight: 100;
height: auto;
}

.texto4-formato {
float: left;
color: #ffffff;
font-family: Roboto;
font-size: 33pt;
font-weight: 600;
margin-left: 0;
height: auto;
margin-top: 32px;
}

p {
padding: 0 20px;
}

.texto6-formato {
color: #fff;
font-size: 33pt;
height: 50px;
margin-left: 0px;
}

.texto7-formato {
font-size: 40pt;
height: 30px;
padding-top: 0px;
}

.texto8-formato {
font-size: 33pt;
font-weight: 600;
height: 90px;
padding-top: 19px;
}
.module_row_0.module_row {
    background-image: url("https://markplan.misiva.com.ec/wp-content/uploads/2015/11/mobileimagen.jpg") !important;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    text-align: right;
}

}

@media screen and (max-width: 425px) {
	.texto-agencia {
		padding-top: 25px;
	}
	
}

@media screen and (max-width: 400px) {
.contenedor-redes-izq {
    margin: 5% auto;
    width: 35%;
}	


.contenedor-texto-contactos {    
    margin: 0 auto;
   width: 70%;
}

.opcion1 {
    float: left;
    width: 100%;
}

.texto-ubicacion {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 12pt;
    line-height: 22px;
    margin-left: 0;
    width: 100%;
}


.opcion2 {
    float: left;
    margin-left: 0;
    width: 100%;
}

.texto5-formato {
    color: #000; 
    font-size: 28pt; 
    height: 13px;
}

.texto6-formato { 
    color: #fff;
    font-size: 25pt;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
    padding-top: 0 !important;
    text-transform: lowercase;
}

.texto7-formato { 
    font-size: 25pt;
    height: 35px;
    padding-top: 15px;
}

.texto8-formato {
    color: #000;
    font-size: 28pt;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0 !important;
}


	}

@media screen and (max-width: 400px) {


._5p3y[dir="ltr"], ._5p3y[dir="ltr"] button, ._5p3y[dir="ltr"] input, ._5p3y[dir="ltr"] label, ._5p3y[dir="ltr"] select, ._5p3y[dir="ltr"] td, ._5p3y[dir="ltr"] textarea, ._5p3y[dir="ltr"] .uiMentionsInput .highlighter, ._5p3y[dir="ltr"] .uiButtonText, ._5p3y[dir="ltr"] .uiButton input, ._5p3y[dir="ltr"] .uiLinkButton input, ._5p3y[dir="ltr"] button.as_link, ._5p3y[dir="ltr"] .fbChatSidebar, ._5p3y[dir="ltr"] .fbDock, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._5p3y[dir="ltr"] .tickerDialogContent .uiStream .uiStreamMessage, ._5p3y[dir="ltr"] .tickerDialogContent .uiStream .text_exposed_link, ._5p3y[dir="ltr"] .uiTooltipX .tooltipContent, ._5p3y[dir="ltr"] a[role="button"], ._5p3y[dir="rtl"] [dir="ltr"] {
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
}
html ._4lh, ._4lh .fbTimelineScrubber, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, ._4lh .fbTimelineSectionLoading .loadingIndicator, ._4lh .timelineTourStarted .contextualBlind, ._4lh .lifeEventAddPhoto:hover {
    background-color: #e9eaed;
}
._5p3y, ._5p3y button, ._5p3y input, ._5p3y label, ._5p3y select, ._5p3y td, ._5p3y textarea, ._5p3y .uiMentionsInput .highlighter, ._5p3y .uiButtonText, ._5p3y .uiButton input, ._5p3y .uiLinkButton input, ._5p3y button.as_link {
    font-size: 12px;
}
body {
    overflow-y: scroll;
}
body {
    color: #141823;
    direction: ltr;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
}
.titulo-principal {
    color: #fff;
    font-family: Comfortaa;
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 100px;
}
	.imagen-derecho{
		float:right;
		display:none;
	}

.texto1-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 25pt;
    font-weight: 600;
    height: 30px;
    padding-top: 0;
}

.texto2-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 20pt;
    font-style: normal;
    font-weight: 400;
    margin-left: 0;
    padding-top: 0 !important;
}

.texto3-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 25pt;
    font-weight: 100;
    height: 35px;
}

.texto4-formato {
color: #ffffff;
float: left;
font-family: Roboto;
font-size: 25pt;
font-weight: 600;
height: 30px;
padding-top: 0px !important;
margin-top: 0;
}

.mobile-button {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 15px;
    position: relative;
    white-space: nowrap;
}

#headerwrap #main-nav {
    background: none repeat scroll 0 0 #000;
    border-radius: 0;
    clear: both;
    margin-left: -110px;
    margin-top: 0;
    padding: 10px 12px;
    position: absolute !important;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.contenedor-slide-confianza {
    background-position: left top !important;
    background-size: 100% 100% !important;
    height: 140px !important;
    width: 100% !important;
}

.fondo-home {
    float: right !important;
    margin-right: 5%;
    width: 90%;
}

.texto-agencia {
    margin-left: 5%;
    width: 90%;
}

.texto-marketing {
    float: right;
    height: 190px;
    margin-bottom: 100px;
    margin-right: 5%;
    width: 90%;
}
.texto-marketing p{
    color: #ffffff !important;
    font-family: Comfortaa !important;
    font-size: 40pt !important;
    height: auto !important;
    margin-bottom: 35px !important;
}

.texto1-formato {    
    font-size: 24pt;
    height: auto;
}

.texto2-formato {    
    font-size: 24pt;
    height: auto;   
}

.texto3-formato { 
    margin-top: 5px!important;
}

nav {
    position: fixed;
    top: 10px;
    width: 100%;
}

.mobile-button span {
    color: #fff;
    font-family: Comfortaa;
    font-size: 1.125em;
    text-transform: none;
}

#headerwrap #main-nav {
    left: 0;
    margin-left: 0 !important;
    position: absolute !important;
}

.fixed-header .mobile-button {
    float: right;
    margin-left: 30px;
}

#headerwrap #main-nav a, #headerwrap #main-nav ul a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    color: #fff !important;
    display: block !important;
    font-size: inherit !important;
    padding: 0 !important;
    text-align: right;
    text-transform: none;
    width: auto !important;
}

.row-slider-slides{
   display:block;
}

.contenedor-redes-izq {
    margin-left: 5%;
    width:90%;
}

.texto-ubicacion {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 12pt;
    line-height: 22px;
    margin-left: 5%;
    width: 90%;
}

.texto-trabaja-nosotros {
    line-height: 21px;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 25px;
}

.titulo-donde-estamos{
	color: #ffffff;
    font-family: Comfortaa;
    font-size: 20pt;
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;
}

.imagen-derecha-contacto{
	display:none;
}


.big-video-wrap {
    display: none;
}

.titulo-servicios{
	/*padding-left:20px;*/
	text-align: center;
}

.contenedor-redes-izq {
    float: none;
    height: 50px;
    margin: 20px auto 0;
    width: 170px;
}
.titulo-donde-estamos { 
       font-size: 16pt;
    margin-bottom: 0;
    margin-left: 5%;
    width: 90%;
}
.texto-ubicacion {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 10pt;
    line-height: 18px;
    margin-left: 5%;
    width: 90%;
    margin-top:5px;
    margin-bottom: 12px;
}

.texto-trabaja-nosotros {
     font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}

.texto-nuestro-trabajo {
    float: left;
    margin-bottom: 42px;
    margin-left: 0;
    margin-top: 45px;
    width: 100%;
}

.contenedor-final-derechos {
    padding-bottom: 5px;
    padding-top: 5px;
}

.themify_builder .text-2415-9-0-0.module-text {
    color: #fff;
    padding-left: 15px;
    text-align: left !important;
}

.texto-agencia {
    margin-bottom: 0;
    margin-top: 60px;
    text-align: justify;
}

.texto-marketing {
    float: right;
    height: 80px;
    margin-bottom: 70px;
    margin-right: 5%;
    margin-top: 30px;
    width: 90%;
}

input[type="reset"], input[type="submit"], button {
    background-color: #ffffff;
    border: medium none;    
    border-radius: 0 !important;
    color: #282828;
    cursor: pointer;
    padding: 7px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.themify_builder .accordion-2415-9-0-0 .ui.module-accordion .accordion-title a {
    background-color: #000 !important;
    color: #fff !important;
}

textarea {
    line-height: 40%;
    width: 90%;
}

#headerwrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); 
}

.text-disfrutamos{
	 color: #ffffff;
    font-family: Comfortaa !important;
    font-size: 20pt;
    line-height: 22px;
    margin-bottom: 0;
	}
	
.titulo-textos-informativo {
    color: #000000;
    font-family: Comfortaa !important;
    font-size: 20pt;
    margin-bottom: 20px;
    padding-top: 20px;
}

.module-accordion {
    margin-bottom: 5px !important;
    margin-left: 2%;
    margin-top: 20px !important;
    padding: 0;
    width: 96%;
}

.acorderon-atelento ul li .accordion-title a {
    float: left;
    font-weight: normal;
    height: 24px;
    text-align: left !important;
    width: 85% !important;
}

.flecha-acordeon {  
    width: 8%;
}

.img-llave {
    background-image: url("https://markplan.misiva.com.ec/wp-content/uploads/2014/11/llave.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 26px;
    width: 35px;
}

.texto6-formato {
	font-size: 28pt;
	height: auto;
	margin-left: 0;
}

.texto8-formato {
color: #000;
font-size: 26pt;
height: auto;
margin-left: 5px;
margin-top: 0;
padding-top: 0 !important;
}

}


@media screen and (max-width: 361px){
	
	input[type="reset"], input[type="submit"], button {        
    	border-radius: 0 !important;
	}
	
texto1-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 25pt;
    font-weight: 600;
    height: 30px;
    padding-top: 0;
}

.texto2-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 20pt;
    font-style: normal;
    font-weight: 400;
    margin-left: 0;
    padding-top: 0 !important;
}

.texto3-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 25pt;
    font-weight: 100;
    height: 35px;
}

.texto4-formato {
color: #ffffff;
float: left;
font-family: Roboto;
font-size: 25pt;
font-weight: 600;
height: 30px;
padding-top: 0px !important;
margin-top: 0;
}

}


@media screen and (max-width: 321px){

.texto2-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    margin-left: 0;
    padding-top: 0 !important;
    height: 35px;
    font-size: 20pt !important;
}

.texto1-formato {
    color: #ffffff;
    float: left;
    font-family: Roboto;
    font-size: 20pt;
    font-weight: 600;
    height: 30px;
    padding-top: 0;
}

.texto5-formato {
    color: #000; 
    font-size: 28pt; 
    height: 13px;
}

.texto6-formato { 
    color: #fff;
    font-size: 25pt;
    height: auto;
    margin-left: 0;
    margin-top: 20px;
    padding-top: 0 !important;
    text-transform: lowercase;
}

.texto7-formato { 
    font-size: 25pt;
    height: 35px;
    padding-top: 15px;
}

.texto8-formato {
    color: #000;
    font-size: 28pt;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0 !important;
}

.contenedor-slide-confianza {
    height: 120px !important;
    
}

}